version: '3.7'

services:
  tests:
    image: python:3.11-slim
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/workspace
    command: /bin/sh -c "python -m pip install --upgrade pip  --disable-pip-version-check --root-user-action=ignore && pip install -r requirements.txt && playwright install --with-deps chromium &&  pytest -sv --alluredir=allure-results"
    working_dir: /usr/workspace