allure-pytest==2.15.0
allure-python-commons==2.15.0
pytest-ordering==0.6
pytest-xdist==3.5.0
pytest==8.4.1
pytest-base-url==2.1.0
pytest-playwright==0.7.1
pytest-rerunfailures==16.1
python-dotenv==1.1.1
playwright
lorem-text==3.0
pytz==2025.2
